#form-wrapper {
    padding: 20px;
    height: 100%;
    width: 100%;
    font-size: 12px;
    line-height: 1.5;
}

#form-wrapper > form > label {
    display: block;
    padding-bottom: 10px;
}

#msg {
    display: none;
    width: 400px;
    border: 1px solid rgba(139, 0, 0, .3);
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 3px;
    background-color: rgba(255, 0, 0, .1);
}