<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moral Annotation Tool | Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/w2ui-1.5.rc1.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login.css') }}">
</head>
<body>
    <div id="banner">
        <div id="banner-title"><b><a href="/">Moral Annotation Tool</a></b> | Register</div>
        <a id="home" href="/"><i class="fa fa-home" aria-hidden="true"></i> home</a>
    </div>
    <div id="main">
        <div id="panel">
            <div id="panel-title">Register</div>
            <div id="form-wrapper">
                <ul>
                    <li>
                        <label for="input-username">Username</label>
                        <input id="input-username" type="text" maxlength="20"/>
                    </li>
                    <li>
                        <label for="">Password</label>
                        <input id="input-password" type="password" maxlength="20"/>
                    </li>
                    <li>
                        <label for="input-firstname">First Name</label>
                        <input id="input-firstname" type="text" maxlength="20"/>
                    </li>
                    <li>
                        <label for="input-lastname">Last Name</label>
                        <input id="input-lastname" type="text" maxlength="20"/>
                    </li>
                    <li style="text-align: center;">
                        <div id="msg"></div>
                        <button id="reg-btn">Register</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascripts/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/w2ui-1.5.rc1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/register.js') }}"></script>
</body>
</html>