<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moral Annotation Tool | Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/normalize.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/w2ui-1.5.rc1.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/upload.css') }}">
</head>
<body>
    <div id="banner">
        <div id="banner-title"><b><a href="/">Moral Annotation Tool</a></b> | Upload</div>
        <a id="home" href="/"><i class="fa fa-home" aria-hidden="true"></i> home</a>
        <a id="logout" href="/logout"><i class="fa fa-child" aria-hidden="true"></i> logout</a>
    </div>
    <div id="main">
        <div id="form-wrapper">
            Please pack all JSON files in a ZIP archive. Each JSON files can
            contains more than one JSON object (a tweet).
            <br/>
            <form enctype="multipart/form-data" id="upload-form">
                <label>Dataset name: <input name="dataset" type="text" maxlength="20"/></label>
                <label>Data format: <select name="format" >
                    <option value="twitter_api">Twitter API</option>
                    <option value="gnip">Gnip</option>
                    <option value="script_output">Script Output</option>
                </select></label>
                <label>Data file: <input id="input-file" name="file" type="file"></label>
                <input type="submit" id="upload-btn">
            </form>
            <div id="msg"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascripts/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/w2ui-1.5.rc1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/upload.js') }}"></script>
</body>
</html>